/* Tree */
  .tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
  }
  .tree ul {
    margin-left:1em;
    position:relative
  }
  .tree ul ul {
    margin-left:.5em
  }
  .tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
  }
  .tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#000;
    font-weight:700;
    position:relative
  }
  .tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
  }
  .tree ul li:last-child:before {
    background:transparent;
    height:auto;
    top:1em;
    bottom:0
  }
  .indicator {
    margin-right:5px;
  }
  .tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#000;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
  }

/* Spinner */
  .fa-spinner{ /* spinner */
    position: absolute;
    z-index: 999;
    margin-top: 275px;
  }

/* Navbar */
  .navbar {
    border-radius: 0;
    z-index: 200;
  }
  #logo-chnet {
    position: absolute;
    margin-top: -8px;
  }
  #testo-logo-chnet {
    position: absolute;
    margin-left: 50px;
    font-size: 16px;
    color: white;
    font-weight: bold;
  }
  .usrmail{
    font-size: 12px;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
  }
  .usrname{
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 10px;
  }
  .img-circle{
    border: 1px solid gray;
  }

/* Sidenav */
  .w3-bar-block {
    height: 100%;
    width: 65px;
    position: fixed;
    top: 50px;
    z-index: 100;
    background-color: #eeeeee;
    overflow-x: hidden;
    border: 1px solid #cfcfcf;
    font-size: 16px;
    color: black;
    padding-top: 20px;
  }
  .w3-bar-block i{
    padding-left: 20px;
    font-size: 24px;
    color: black;
  }
  .w3-bar-item {
    height: 45px;
    line-height: 45px;
    cursor: pointer;
  }
  .w3-bar-item:hover {
    background-color: #99CCFF;
    text-decoration: none;
  }
  .w3-bar-item a:hover {
    text-decoration: none;
  }
  .text-sidenav{
    color: black;
    padding-left: 10px;
  }
  #myContent{
    padding-left: 80px;
    height: 100%;
  }
  .tooltip {
    position: fixed;
  }
  .collapse-sidebar-manually{
    position: fixed;
    bottom: 0px;
  }

/* Drag&Drop */
  .droppable.dragover {
    background: #a1a1a1;
  }

/* Modal */
  .btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
  }

/* Pannelli di mappa e grafico */
  #mappa-pannel, #chart-pannel {
    min-height: 550px;
    max-height: 750px;
  }
  #mappa-pannel canvas{
    max-height: inherit;
    max-width: 100%;
  }
  #selectionCanvas{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .panel-default {
    background-color: transparent;
    height: 50px;
    width: 130px;
    float: left;
  }
  .panel-body {
    margin-top: -8px;
    font-size: 12px;
    font-weight: bold;
  }
  #spinBoxMin {
    width: 100px;
    height: 30px;
    float: left;
    margin-left: 10px;
  }
  #spinBoxMax {
    width: 100px;
    height: 30px;
    float: right;
    margin-right: 10px;
  }

/* More layout */
  body {
    padding-top: 70px;
    position: relative;
    overflow-x: hidden;
    height: 100%;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  h6 {
    font-weight: bold;
    margin-bottom: -10px;
  }
  li a {
    color: white;
  }
  li a:link {
    text-decoration: none;
  }
  li a:visited {
    text-decoration: none;
  }
  li a:hover {
    text-decoration: none;
  }
  li a:active {
    text-decoration: none;
  }
  li a{
    color: white;
  }
  
